<% content_for :title, "Sign in" %>

<%= form_with url: session_url, class: "space-y-8" do |form| %>
  <div>
    <%= form.label :email_address, "// email", class: "mb-2" %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address] %>
  </div>
  <div>
    <%= form.label :password, "// password", class: "mb-2" %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %>
  </div>

  <div class="flex items-center justify-between gap-4 pt-4">
    <%= form.submit "sign in", class: "ui-button ui-button--accent" %>
    <%= link_to "[reset password]", new_password_path, class: "ui-link" %>
  </div>
<% end %>
