<div class="space-y-3" data-controller="multiple-choice" data-multiple-choice-correct-index-value="<%= multiple_choice.correct_index %>" data-multiple-choice-hover-class="hover:border-white/40" data-multiple-choice-selected-class="border-amber-400/60" data-multiple-choice-locked-class="cursor-default" data-multiple-choice-correct-class="border-green-400/60 bg-green-400/10" data-multiple-choice-incorrect-class="border-red-400/60 bg-red-400/10">
  <p class="text-base"><%= multiple_choice.question %></p>
  <ul class="space-y-2">
    <% multiple_choice.options.each_with_index do |option, i| %>
      <li>
        <button type="button" class="flex min-h-14 w-full items-stretch border border-white/15 text-left transition-colors hover:border-white/40" data-multiple-choice-target="option" data-multiple-choice-index-param="<%= i %>" data-action="multiple-choice#choose">
          <span class="flex w-11 shrink-0 items-center justify-center border-r border-white/15 font-mono text-2xs text-white/40"><%= option_letter(i) %></span>
          <span class="flex items-center px-4 py-3 text-white/80"><%= option %></span>
        </button>
      </li>
    <% end %>
  </ul>
  <%= card_actions(submit_button("multiple-choice"), reveal: "reveal#show multiple-choice#check") %>
</div>
