<% content_for :breadcrumb do %>
  <%= link_to "[#{@audiobook.title}]", @audiobook, class: "ui-link" %>
<% end %>

<% content_for :title, @chapter.title %>

<% if @audiobook.author.present? %>
  <% content_for :subtitle do %>
    <p class="text-lg text-white/60">
      <%= @audiobook.author %>
    </p>
  <% end %>
<% end %>

<%= turbo_stream_from @chapter, :study_guide %>
<%= turbo_frame_tag dom_id(@chapter, :study_guide) do %>
  <% if @study_guide %>
    <ol class="space-y-20">
      <% @topics.each do |topic| %>
        <li id="<%= dom_id(topic.topical) %>">
          <%= render topic.topical %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <div class="space-y-3">
      <p class="text-white/60">No study guide yet for this chapter.</p>
      <%= button_to "Generate study guide", chapter_study_guide_path(@chapter), class: "ui-button" %>
    </div>
  <% end %>
<% end %>
